body{
	height:100vh;
	width:100%;
	background: url(images/background.jpg) no-repeat center center fixed; 
	background-size: cover;
	color:white;
}
.results{
	background:rgba(0, 0, 0, 0.7);
	width:70%;
	align-self:center;
	margin-left:15%;
	margin-top:-10%;
/*	height:550px;
*/	overflow-y:auto;


}
a.btn{
	color:white;
	text-decoration:none;
}
#summaryDiv{
	height:100%;
	padding:40px 50px 50px 20px;
}

#posterDiv{
	padding-top:100px;
	padding-bottom:150px;
	position:fixed;
}

#poster{
	height:300px;
	width:auto;
}

.interface{
	display:inline;
	overflow:hidden;
}
.interfaceContainer{
	margin-top:250px;
	align:center;
}

.interfaceButton{
	background:transparent;
	border: solid;
	width:150px;

}
.interfaceButton:hover{
	background-color:white;
	opacity: .4;
}
#food{
	display:none;
}
.foodContainer{
	display:inline-block;
	width:10%;
	text-align:center;
}
#difficulty{
	width:150px;
}
#movies{
	display:none;
}
#movieResults{
	display:none;
	overflow-y:auto;
}
#foodResults{
	display:none;
	overflow-y:auto;
	padding-top:20px;
	padding-bottom:40px;
}
#foodInfo{
	text-align:left;
}
#foodImage{
	height:200px;
	width:auto;
}

select{
	color:black;
	text-align:center;
	padding:auto;
}

input{
	color:black;
}